<html>
<head>
    <title>Youtube Channel</title>
    <link rel="stylesheet" href="channel.css">
</head>
<body>

    <h1 class="center">የስልጠና ቪዲዮወች</h1>

    <iframe width="560" class="center" height="315" src="https://www.youtube.com/embed/XxkTVReviyI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <iframe width="560" class="center" height="315" src="https://www.youtube.com/embed/iSudQNF9bDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <iframe width="560" class="center" height="315" src="https://www.youtube.com/embed/O4RtZz5sxWY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <iframe width="560" class="center" height="315" src="https://www.youtube.com/embed/nA7WAou_Jmo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <label class="center">Youtube Channel Link:</label>
    <a class="center" href="https://www.youtube.com/channel/UCLao0lZPbTQBykU5rzpXGvQ">Click Here To Get Our Youtube Channel</a>
</body>
</html>