body{
    background-color: skyblue;
    width: 100%;
}

.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

label{
    font-family: arial;
    font-size:20px;
}