<html>
<head>
    <title>Baks Driving School</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <img src="images/baks_image.PNG" width="1000" height="500" class="center">

    <h3 class="center"> <a href="https://www.gmail.com/">&#128231 Email: Baks Driving School</a> &nbsp; &nbsp; &nbsp; &nbsp;  &#128222 phone: +251946467548</h3>
    <button class="center">መግቢያ</button>
    <a href="register.html"> <button class="center">የተማሪወች ምዝገባ</button> </a>
    <a href="result.html"> <button class="center">የተማሪወች ዉጤት</button> </a>
    <a href="work_ad.html"> <button class="center">የስራ ማስተወቂያ</button> </a>
    <a href="channel.html"> <button class="center">የYoutube ቲዉቶሪያል</button> </a>
    <a href="about.html"> <button class="center">ዌብሳይት አምራች</button> </a>
    <img src="images/traning.jpg" class="center">


</body>
</html>