<html>
<head>
    <title>School Registeration</title>
    <link rel="stylesheet" href="register_css.css">
</head>
<body>
 
    <h1 class="center">የሰልጣኞች የምዝገባ ቅጽ </h1>
    <form>
        <div>
            <label for="user name" class="center" aria-required="true">ስም:</label>
            <input class="center" placeholder="ስምወትን እዚህ ላይ ይጻፉ">
        </div>
        <br>
        <div>
            <label class="center">ጾታ:</label>
            <select text="Gender" class="center" required>
                <option>ወንድ</option>
                <option>ሴት</option>
            </select>
        </div>
        <br>
        <div>
            <label class="center">የትምህርት ደረጃ:</label>
            <select class="center" required>
                <option>8ኛ ክፍል</option>
                <option>9ኛ ክፍል</option>
                <option>10ኛ ክፍል</option>
                <option>11ኛ ክፍል</option>
                <option>12ኛ ክፍል</option>
                <option>Degree</option>
                <option>Master</option>
                <option>Phd</option>
            </select>
        </div>
        <br>
        <div>
            <label class="center">የትዉልድ ዘመን:</label>
            <input class="center" type="datetime-local" required>
        </div>
        <br>
        <div>
            <label class="center">የመኖሪያ አድራሻ:</label>
            <input class="center" type="text" placeholder="የምትኖሩበትን ቦታ ክልል/ዞን/ከተማ/ወረዳ ይጻፉ" required>
        </div>
        <br>
        <div>
            <label class="center">የትዉልድ ቦታ:</label>
            <input class="center" placeholder="የተወለዱበትን ቦታ ክልል/ዞን/ከተማ/ወረዳ" required>
        </div>
        <br>
        <div>
            <label class="center">ከዚህ በፊት መንጃ ፍቃድ አለወት:</label>
            <select class="center">
                <option>የለኝም</option>
                <option>አዉቶሞቢል</option>
                <option>ታክሲ-1</option>
                <option>ታክሲ-2</option>
                <option>ህዝብ-1</option>
                <option>ህዝብ-2</option>
                <option>ደረቅ-1</option>
                <option>ደረቅ-2</option>
                <option>ሞተር</option>
            </select>
        </div>
        <br>
        <div>
            <label class="center">የሚፈልጉት መንጃፍቃድ:</label>
            <select class="center">
                <option>አዉቶሞቢል</option>
                <option>ታክሲ-1</option>
                <option>ታክሲ-2</option>
                <option>ህዝብ-1</option>
                <option>ህዝብ-2</option>
                <option>ደረቅ-1</option>
                <option>ደረቅ-2</option>
                <option>ሞተር</option>
            </select>
        </div>
        <br>
        <div>
            <button class="center">መዝግብ</button>
        </div>
    </form>

</body>
</html>