body{
    background-color: skyblue;
}

.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}

input{
    border-radius: 10px;
    height: 30px;
    text-align: center;
}

button{
    height: 30px;
    border-radius: 20px;
}