<html>
<head>
    <title>Work Advertisment</title>
    <link rel="stylesheet" href="work_ad.css"> 
</head>
<body>

        <h1 class="center">የስራ ማስታወቂያ</h1>
        <form>
            <div>
                <label class="center">ስም፡</label>
                <input type="text" class="center" placeholder="ስም እስከ አባት ይጻፉ">
            </div>
            <br>
            <div>
                <label class="center">እድሜ፡</label>
                <input type="text" class="center" placeholder="እድሜዎትን ያስገቡ">
            </div>
            <br>
            <div>
                <label class="center">የስራ ልምድ፡</label>
                <input class="center" placeholder="ሊመደቡበት በፈለጉት ቦታ ያገለገሉት ለምን ያህል ጊዜ ነዉ">
            </div>
            <br>
            <div>
                <label class="center">ለመስራት የፈለጉበት ምድብ፡</label>
                <input class="center" type="text" placeholder="ታክሲ-1 ፣ ደረቅ-1…..">
            </div>
            <br>
            <div>
                <label class="center">መጨመር እፈልጋለዉ ብለዉ ያሰቡትን እዚህ ላይ ይጻፍ፡</label>
                <input class="center" type="text" height="100" placeholder="ስለራስወ ተጨማሪ ነገር እዚህ ላይ መጻፍ ይችላሉ">
            </div>
            <br>
            <div>
                <button class="center">መዝግብ</button>
            </div>
        </form>

</body>
</html>